
   <log4net>
       <root>
           <level value="ALL" />
       </root>
        <logger name="System">
            <level value="All"/>
            <appender-ref ref="RollingFileAppender"/>
        </logger>

        <logger name="ProgramLog">
            <level value="All"/>
            <appender-ref ref="RollingFileProgramLogAppender"/>
        </logger>

       


       <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="log\错误日志.Log"/>
            <param name="AppendToFile" value="true"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <Encoding value="UTF-8" />

            <param name="MaxSizeRollBackups" value="10"/>
            <param name="MaximumFileSize" value="10MB"/>
            <param name="RollingStyle" value="Size"/>
            <param name="StaticLogFileName" value="true"/>
            
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%d [%t] %c - %m%n%n"/>
            </layout>
            
        </appender>

        <appender name="RollingFileProgramLogAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="log\程序日志.Log"/>
            <param name="AppendToFile" value="true"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <Encoding value="UTF-8" />
            <param name="MaxSizeRollBackups" value="10"/>
            <param name="MaximumFileSize" value="10MB"/>
            <param name="RollingStyle" value="Size"/>
            <param name="StaticLogFileName" value="true"/>
            
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n%n"/>
            </layout>
            
        </appender>
        
    </log4net>
