<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DragonResourceEntities" connectionString="metadata=res://*/DragonResource.csdl|res://*/DragonResource.ssdl|res://*/DragonResource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.5;initial catalog=DragonResource;user id=dragon;password=dragon;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>