<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <!--1分钟等于多少秒-->
        <add key="SecondsOneMinute" value="60" />
        <!--间隔多少分钟运行1次-->
        <add key="Interval" value="1" />
    </appSettings>    
    
</configuration>
