<div class="intro widget">
            <h3>$WidgetName</h3>
#if($flg==1)
            <p>                  $PageCommon.NewCutString($DealerEnterprise.DealerEnterpriseIntroduction,$PageCommon.CInt($ShowLength))
        <a href="/about.html">详情&gt;&gt;</a></p>
#else
<div class="blc_ept"></div>
#end 

</div>
