<div class="photoSlide widget">
            <h3>图片幻灯</h3>
            <div class="photoSlideBlc"><img src="else/294X196.png" alt="图片" title="图片" /></div>
            <span class="more"><a href="#">更多&gt;&gt;</a></span>
        </div>