<?xml version="1.0"?>
<configuration>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
<connectionStrings>
    <add name="DealerBasicInfoConnString" connectionString="server=192.168.87.63\SQL2008;database=DealerBasicInfo;uid=epuser;pwd=ep123"/>
    <add name="DragonDataFacilityConn" connectionString="server=.\succ;database=DragonDataFacility;uid=acheng;pwd=iloveyou@1"/>
  <add name="testConn" connectionString="server=.\succ;database=test;uid=acheng;pwd=iloveyou@1"/>
</connectionStrings>
   


</configuration>

