<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".html" #>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>  
</head>
<body>
<h2>测试文本模板</h2>
<div class="list">
	<ul>
		<#for(int i=0;i<10;i++){ #>
			<li>This is a number, its value is <#=i#>.</li>
		<#} #>
	</ul>
</div>
</body>