<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=3.1.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings,                   Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,                   Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        
        <!--公用平台的配置Section-->
        <section name="DragonSource.Utils.CommonPlatformConfig" type="DragonSource.Utils.Config.CommonPlatformConfiurationSectionHandler, DragonUtility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        
        
        <!--文件服务的配置Section-->
        <section name="FileServiceClientConfig" type="DragonUtility.IO.FileService.Client.FileServiceClientConfig,DragonUtility"/>
        
        
	</configSections>

    <!--        
        Address:服务地址，测试时可用http://client.uploadfile.qikan.com.cn/FileRepositoryService.svc，
        需要配置host 192.168.0.6 client.uploadfile.qikan.com.cn 
        UserName:        
        BasePath:
        UserName与BasePath均为在服务端配置的一个选项，正式发布时可向刘刚咨询。
    -->
    <!--<FileServiceClientConfig Address="http://client.uploadfile.qikan.com.cn/FileRepositoryService.svc" UserName="acheng" BasePath="order"/>-->
    <FileServiceClientConfig Address="http://uploadfile.qikan.com.cn/FileRepositoryService.svc" UserName="Compilation" BasePath="Compilation"/>
    
    <DragonSource.Utils.CommonPlatformConfig>
        <CommonConfig>
            <!--            
            LogDir: 日志存放文件夹名称(物理路径),如果为非物理路径那么将使用应用程序根目录路径+LogDir作为日志文件夹的名称
            -->
            <LogConfig LogDir="Logs" />
            
            <!--DefaultValidatecodeName指定的名字在Validatecodes中必须存在-->
            <ValidateCodeConfig DefaultValidateCodeName="default">
                <!--可以定义多个验证码，不同的验证码属性可独自调配-->
                <ValidateCodes>
                    
                  <!--Width验证图片的宽度，
                  Height验证图片的高度，
                  FontName输出的字符的字体,服务器存在的字体名可以在"控制面板—>字体"中查到
                  FontSize字体大小,
                  IsDrawNoise是否画出干扰线，
                  IsUseNumber是否只使用数字，
                  CharCount指定画出的字符个数如果是0，则画出4——8的随机个数
                  IsDistorted 是否变形，默认为true-->  

                    <add ValidateCodeName="default" Width="150" Height="25" FontName="黑体" FontSize="25" IsDrawNoise="true" CharCount="4" IsUseNumber="true" IsDistorted = "false"></add>
                    <add ValidateCodeName="A" Width="200" Height="45" FontName="Shruti" FontSize="35" IsDrawNoise="false" CharCount="0" ></add>
                    <add ValidateCodeName="B" Width="250" Height="40" FontName="Times New Roman" FontSize="30" IsDrawNoise="false" CharCount="8"></add>
                </ValidateCodes>
            </ValidateCodeConfig>
            
                        
            <!--MailHost: smtp3服务器地址
                User: 发送人账号
            Password: 发送人账号的密码-->
            
            <MailConfig MailHost="smtp.163.com" User="suchangcheng1984@163.com" Password="bsfdhmmjh"/>

        </CommonConfig>

    </DragonSource.Utils.CommonPlatformConfig>

    <!--<![CDATA[
        ]]>-->
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add fileName="trace.log" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging,Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="FlatFile TraceListener"/>
		</listeners>
		<formatters>
			<add template="{timestamp} : {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0,Culture=neutral, PublicKeyToken=null" name="Text Formatter"/>
		</formatters>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="FlatFile TraceListener"/>
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings"/>
		</specialSources>
	</loggingConfiguration>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage" name="Cache Manager"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching,Version=2.0.0.0, Culture=neutral,PublicKeyToken=null" name="Isolated Storage"/>
		</backingStores>
	</cachingConfiguration>
    
	<dataConfiguration defaultDatabase="UCMS_Live"/>
    <appSettings>
        
        <!--上传目录的基地址-->
        <!--<add key="DragonEditor_ImageBasePath" value="order/20140704/02/01/15/16"/>-->
        <add key="DragonEditor_ImageBasePath" value="Compilation/20140704/02/01/15/16"/>
        <!--上传目录基地址的Http访问形式-->
        <!--<add key="DragonEditor_ImageShowBasePath" value="http://client.uploadfile.qikan.com.cn/uploadfiles"/>-->
        <add key="DragonEditor_ImageShowBasePath" value="http://uploadfile.qikan.com.cn/files/public"/>
    </appSettings>
	<connectionStrings>
  <add name="local" connectionString="data source=.\sqlexpress;Initial Catalog=db_test;User ID=acheng;password=iloveyou@1"
   providerName="System.Data.SqlClient" />
  <add name="UPD" connectionString="data source=stgWWCTL-SQL,1433;Application Name=CreativeStore UPD_UCMS;Initial Catalog=db_wwsql;User ID=web_imestore;password=w3b1m3st0r3"
   providerName="System.Data.SqlClient" />
  <add name="CCC" connectionString="Data Source=CTLSTAGINGDB1-N;Initial Catalog=db_CustCareCentre;User ID=ccc_user;Password=CustCare34"
   providerName="System.Data.SqlClient" />
  <add name="WWSQL" connectionString="Data Source=ww-sqlnt-ctl,1433;Initial Catalog=db_wwSQL;User ID=web_imestore;Password=w3b1m3st0r3"
   providerName="System.Data.SqlClient" />
  <add name="CreativeStore" connectionString="data source=WW-SQLNT-CTL;Application Name=CreativeStore;Initial Catalog=db_CreativeStore;User ID=web_imestore;password=w3b1m3st0r3"
   providerName="System.Data.SqlClient" />
  <add name="db_CustCareCentreConnectionString" connectionString="Data Source=CTLSTAGINGDB1-N;Initial Catalog=db_CustCareCentre;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ActivityPlatform" connectionString="server=192.168.87.63\sql2008; database=BitautoActivityPlatform;user id=epuser; password=ep123;"   providerName="System.Data.SqlClient" />
  <add name="DealerAssistantSystem" connectionString="Data Source=192.168.87.63\SQL2008;Initial Catalog=DealerAssistantSystem;User ID=epuser;password=ep123;"   providerName="System.Data.SqlClient" />
  <add name="AutoSiteV2" connectionString="Data Source=192.168.87.63\SQL2008;Initial Catalog=AutoSiteV2;Persist Security Info=True;User ID=epuser;Password=ep123"
   providerName="System.Data.SqlClient" />
        <add name="SpecialCarConnectionString" connectionString="server=192.168.87.63\SQL2008;database=SpecialCar;uid=epuser;pwd=ep123"  providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.IO"/>
				<add namespace="System.Text"/>
				<add namespace="System.Web.UI"/>
			</namespaces>
		</pages>
		<!--<authentication mode="Forms">
      <forms name="mydemo" loginUrl="/login.aspx" timeout="5" defaultUrl="/welcome.aspx" path="/" protection="All" domain=".mydemo.com">
        <credentials passwordFormat="SHA1">
          <user name="acheng" password="EE8D8728F435FD550F83852AABAB5234CE1DA528"/>
          <user name="admin" password="D033E22AE348AEB5660FC2140AEC35850C4DA997"/>
        </credentials>
      </forms>
    </authentication>

    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>-->
		<machineKey validationKey="7A7A1C7A8ABF43165CBF42B2D6E80872294BB5131074DAB0026889CCFB0E1EE62577B99F423C7064CDC54756EEA5F033A748E1EC920B278E184CB1379008D6C8" decryptionKey="651BCDABC3C6C3CF6B58EA30695F960FAC07A276ADEF9EE01AD6016774ABB226" validation="SHA1" decryption="AES"/>
		<!--<machineKey validationKey="" decryptionKey="" validation="3DES"/>-->
		<httpModules>
			<add name="HttpModuleA" type="CSFramework.HttpModuleA,CSFramework"/>
            <remove name="HttpModuleA"/>
		</httpModules>

     
        
        
        <trace enabled="true" localOnly="true" pageOutput="false" mostRecent="true" traceMode="SortByTime" />
        <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" executionTimeout="180"/>

        
	</system.web>
   
    <system.diagnostics>
        <assert assertuienabled="false" logfilename="d:\\myFile.log" />

        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="TestTracer"
         type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="TestTrace.log" traceOutputOptions="Timestamp"/>
            </listeners>
        </trace>
       
    </system.diagnostics>
	<location path="secure">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
    
    
    
	<system.webServer>
        <security>
            <requestFiltering >
                <requestLimits maxAllowedContentLength="2147483647" ></requestLimits>
            </requestFiltering>
        </security>
		<defaultDocument>
			<files>
				<clear/>
				<add value="welcome.aspx"/>
				<add value="welcome.htm"/>
			</files>
		</defaultDocument>
        <handlers>
                <add name="imgProtection" verb="*" path="*.jpg" type="CSFramework.ImageProtectionHandler,CSFramework"/>
        </handlers>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>
